<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>six dollar gas party</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="alternate" href="feed.atom" type="application/atom+xml" />
  <link href="https://fonts.googleapis.com/css?family=Exo:300,600" rel="stylesheet" />
  <style type="text/css">
    #lbox { float:left; padding-right: 1em; }
    #content { width: 700px; margin-left: auto; margin-right: auto; border: 1px solid black; padding: 1ex; min-height: 345px; }
    h1 { font-family: 'Exo', sans-serif; font-weight: 600; font-size: 36px; }
    p { font-family: 'Exo', sans-serif; font-weight: 300; font-size: 18px; line-height: 1.5; }
  </style>
 </head>
 <body>
  <div id="content">
   <div id="lbox"><img src="bp.jpg" width="194" height="345" alt="" /></div>
   <h1>six dollar gas party</h1>
   <p>I'm throwing a party when gas prices in the US reach $6 per gallon (approx <%= price %>/L).</p>
   <p>Details to follow at the appropriate time.</p>
  </div>
 </body>
</html>
