<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
  <title>Six Dollar Gas</title>
  <link rel="alternate" type="text/html" href="https://sixdollargas.org/"/>
  <link rel="self" href="https://sixdollargas.org/feed.atom"/>
  <updated><%= locals.now %></updated>
  <rights>copyrights are wrong</rights>
  <generator version="2.6.3">GNU nano</generator>
  <author>
    <name>mike castleman</name>
    <uri>https://mlcastle.net/</uri>
  </author>
  <id>urn:uuid:59bfada3-0371-5e18-97cd-e11c1fb5e214</id>

  <entry>
    <title>Six Dollar Gas</title>
    <updated><%= locals.now %></updated>
    <id>tag:sixdollargas.org,2008-11-20:nonews</id>
    <content type="xhtml">
      <div xmlns="http://www.w3.org/1999/xhtml">
        <img src="https://sixdollargas.org/bp.jpg" width="194" height="345" alt="" />
        <h1>six dollar gas party</h1>
        <p>I'm throwing a party when gas prices in the US reach $6 per gallon (approx <%= locals.price %>/L).</p>
        <p>Details to follow at the appropriate time.</p>
      </div>
    </content>
  </entry>
</feed>
